<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2"  >
  <div class="breadcrumbs-inner text-center">
    <h1 class="page-title">Our Services</h1>
    <ul>
      <li title="Who We Are">
        <a class="active" href="#">Home</a>
      </li>
      <li>Services</li>
    </ul>
  </div>
</div>
<!-- Breadcrumbs End -->

<%= render "shared/services" %>


            <%= render "shared/abouttradeproccess" %>

            <%= render "shared/plans" %>
            <%= render "shared/feedbacks" %>
