<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img4">
    <div class="breadcrumbs-inner text-center">
        <h1 class="page-title new-title pb-10">News And Updates</h1>
        <ul>
            <li title="News and Updates">
                <a class="active" href="#">Home</a>
            </li>
            <li title="View"><a class="active" href="#">News And updates </a></li>
            <li>News and Upadates</li>
        </ul>
    </div>
</div>
<%= render "shared/blogs" %>
<%= render "shared/plans" %>
<%= render "shared/feedbacks" %>
