<div class="rs-call-action bg8 pt-120 pb-120 md-pt-75 md-pb-80">
                <div class="container">
                    <div class="sec-title2 text-center">
                        <span class="sub-text white-color">Get Started</span>
                        <h2 class="title title4 white-color">
                          Our Solution Makes Trading FUN & Lowered Risks
                        </h2>
                        <div class="call-btn mt-30">

                               <%= link_to "Discover More", new_user_registration_path, class: "readon discover started" %>
                        </div>
                    </div>
                </div>
            </div>
