  <div class="rs-cta style1 bg7 pt-80 pb-80" >
                  <div class="container">
                      <div class="cta-wrap">
                          <div class="row align-items-center">
                              <div class="col-lg-9 col-md-12 md-mb-30">
                                  <span>Sign Up TOday</span>
                                  <div class="title-wrap">
                                      <h2 class="epx-title">Our Experts Are Ready to Help You Make More Money </h2>
                                  </div>
                              </div>
                              <div class="col-lg-3 text-right col-md-12">
                                  <div class="button-wrap">
                                    <%= link_to "Get Started", new_user_registration_path, class: "readon learn-more" %>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
