


<div class="container-fluid">

  <div class="row">
      <div class="col-sm-12">
          <div class="page-title-box">
              <div class="float-end">
                  <ol class="breadcrumb">
                      <li class=""><a href="#">Home</a>
                      </li><!--end nav-item-->
                    \ .. <li class=""><a href="#">Deposit</a>
                      </li><!--end nav-item-->
                    \..  <li class="">Wallet</li>
                  </ol>
              </div>
              <h4 class="page-title">Wallet</h4>
          </div><!--end page-title-box-->
      </div><!--end col-->
  </div>
<%= render "deposits/pms" %>

</div>
