<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1"  style="background-image:url(<%= asset_path "breadcrumbs/1.jpg" %>)">
  <div class="breadcrumbs-inner text-center">
    <h1 class="page-title">Our Trade Models</h1>
    <ul>
      <li title="Who We Are">
        <a class="active" href="#">Home</a>
      </li>
      <li>Our Trade Models</li>
    </ul>
  </div>
</div>
<!-- Breadcrumbs End -->




<%= render "shared/abouttradeproccess" %>
<%= render "shared/ctr" %>
<%= render "shared/abouts" %>
