

<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between mb-3">
      <div class="align-self-center">
        <button type="button" class="btn btn-de-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalSend"><i data-feather="navigation" class="align-self-center icon-xs me-2"></i>
          Market Table</button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalSend" tabindex="-1" aria-labelledby="exampleModalSendLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title m-0" id="exampleModalDefaultSend">Market Table </h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div><!--end modal-body-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-de-danger btn-sm" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-de-primary btn-sm" type="button">Continue</button>
                </div><!--end modal-footer-->
              </div><!--end modal-content-->
            </div><!--end modal-dialog-->
          </div><!--end modal-->

          <button type="button" class="btn btn-de-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalRequest">
            <i data-feather="download" class="align-self-center icon-xs me-2">
            </i>Mini Real Time Chart</button>
            <div class="modal fade" id="exampleModalRequest" tabindex="-1" aria-labelledby="exampleModalRequestLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalRequestLabel">Advanced Real Time Chart</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-2">
                      <!-- TradingView Widget BEGIN -->
                      <!-- TradingView Widget BEGIN -->
                      <!-- TradingView Widget BEGIN -->
                      <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>

                      <!-- TradingView Widget END -->
                      <!-- TradingView Widget END -->
                      <!-- TradingView Widget END -->
                    </div>

                  </div><!--end modal-body-->
                  <div class="modal-footer">
                    <button class="btn btn-de-success btn-sm" type="button">Done</button>
                  </div><!--end modal-footer-->
                </div><!--end modal-content-->
              </div><!--end modal-dialog-->
            </div><!--end modal-->
          </div><!--end /div-->


          <div class="media">
            <img src="assets/images/logos/btc.png" class="me-2 thumb-sm align-self-center rounded-circle" alt="...">
            <div class="media-body align-self-center">
              <p class="mb-1 text-muted">Exchange Veiw</p>
            </div><!--end media-body-->
          </div><!--end media-->
        </div><!--end /div-->
      </div><!--end col-->
    </div><!--end row-->







    <div class="row">
      <div class="col-lg-12">

        <div style="width:100%; max-width:100% !important;" >
          <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container" style="height:100%;width:100%">
        <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
        {
        "container_id": "analytics-platform-chart-demo",
        "width": "100%",
        "height": "100%",
        "autosize": true,
        "symbol": "BINANCE:BTCUSDT",
        "interval": "D",
        "timezone": "exchange",
        "theme": "light",
        "style": "0",
        "withdateranges": true,
        "allow_symbol_change": true,
        "save_image": false,
        "details": true,
        "hotlist": true,
        "calendar": false
      }
        </script>
      </div>
      <!-- TradingView Widget END -->
        </div>


            <!-- TradingView Widget END -->
            <!-- TradingView Widget END -->


          </div><!--end card-->
        </div><!--end col-->
<div class="row">
  <div class="col-lg-4">
    <!-- TradingView Widget BEGIN -->
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" >
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">crypto</span></a> by TradingView</div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
        {
          "colorTheme": "light",
          "dateRange": "12M",
          "showChart": true,
          "locale": "en",
          "largeChartUrl": "",
          "isTransparent": false,
          "showSymbolLogo": true,
          "showFloatingTooltip": false,
          "width": "380",
          "height": "660",
          "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
          "plotLineColorFalling": "rgba(41, 98, 255, 1)",
          "gridLineColor": "rgba(42, 46, 57, 0)",
          "scaleFontColor": "rgba(120, 123, 134, 1)",
          "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
          "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
          "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
          "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
          "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
          "tabs": [
          {
            "title": "crypto",
            "symbols": [
            {
              "s": "BINANCE:BTCUSDT"
            },
            {
              "s": "BINANCE:SHIBUSDT"
            },
            {
              "s": "BINANCE:SOLUSDT"
            },
            {
              "s": "BINANCE:ETHUSDT"
            },
            {
              "s": "BINANCE:DOGEUSDT"
            },
            {
              "s": "BINANCE:ADAUSDT"
            },
            {
              "s": "BINANCE:MATICUSDT"
            },
            {
              "s": "BINANCE:ALGOUSDT"
            }
            ]
          }
          ]
        }
      </script>
    </div>
    <!-- TradingView Widget END -->
    <!-- TradingView Widget END -->
  </div><!--end card-->
<div class="col-lg-8">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
    {
    "feedMode": "all_symbols",
    "isTransparent": true,
    "displayMode": "adaptive",
    "width": "100%",
    "height": "100%",
    "colorTheme": "light",
    "locale": "en"
  }
    </script>
  </div>
</div>
</div>


      <div class="row">
        <div class="col-12">
          <!-- TradingView Widget BEGIN -->
          <div style="width:100%; max-width:100% !important;" >
            <!-- TradingView Widget BEGIN -->
            <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
    {
    "width": "100%",
    "height": "700",
    "defaultColumn": "overview",
    "screener_type": "crypto_mkt",
    "displayCurrency": "USD",
    "colorTheme": "light",
    "locale": "en"
  }
    </script>
  </div>
          <!-- TradingView Widget END -->
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
