<div class="row justify-content-center" style="margin-top:50px;">
  <div class="col-9 ">
    <div class="card card-border">

          <%= image_tag "j.jpg", class: "card-img-top img-fluid" %>
          <div class="card-heading border bottom">
              <h4 class="card-title">Open An Account</h4>
          </div>
          <div class="card-body">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">

<%= render 'form', account: @account %>

</div>
</div>
</div>
</div>
</div>
</div>
